<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on rails Simple App</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
</html>